#logo {
    height: 100px;
    width: auto;
}

.form-control:focus {
    outline: 0;
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 15%);
}

.input-theme {
    background-color: rgb(231, 231, 231);
    font-size: 20px;
    padding: 25px;
}

.input-drop-1 {
    background-color: #3282f7;
    font-size: 20px;
    height: 80px;
    width: 190px;
}

.input-drop-1::placeholder {
    color: white;
}

.input-drop-1:focus {
    background-color: #3282f7;
}

.input-drop-2 {
    background-color: #68d9a4;
    font-size: 20px;
    height: 80px;
    width: 190px;
}

.input-drop-2::placeholder {
    color: white;
}

.input-drop-2:focus {
    background-color: #68d9a4;
}

.input-drop-3 {
    background-color: #ed6454;
    font-size: 20px;
    height: 80px;
    width: 190px;
}

.input-drop-3::placeholder {
    color: white;
}

.input-drop-3:focus {
    background-color: #ed6454;
}

i.fa-solid.fa-magnifying-glass {
    font-size: 30px;
    color: black;
}

.dropdown-toggle::after {
    display: none;
}

.fa-solid {
    color: white;
    font-size: 25px;
}

.grid-1 {
    background-color: #3282f7;
    width: 395px;
    height: 180px;
}

.grid-2 {
    background-color: #68d9a4;
    width: 395px;
    height: 180px;
}

.grid-3 {
    background-color: #ed6454;
    width: 395px;
    height: 180px;
}