#logo {
    height: 100px;
    width: auto;
}

.input-theme {
    background-color: rgb(231, 231, 231);
    font-size: 20px;
    padding: 25px;
}

.form-control:focus {
    outline: 0;
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 15%);
}

i.fa-solid.fa-magnifying-glass {
    font-size: x-large;
}