:root {
    --bs-font-sans-serif: 'Lato', sans-serif;
}

#logo {
    height: 93px;
    width: 268px;
}

.form-control:focus {
    outline: 0;
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 15%);
    color: white;
}

.input-theme {
    background-color: #E7E7E7;
    font-size: 20px;
    padding: 25px;
    height: 69px;
}

.input-theme:focus {
    color: black;
}

.input-theme::placeholder {
    height: 22px;
    opacity: 25%;
    font-weight: 400;
    font-family: Lato;
}

.input-drop-1 {
    background-color: #3282f7;
    font-size: 20px;
    height: 69px;
    width: 170px;
    transition: .2s all;
}

.input-drop-1::placeholder {
    color: white;
}

.input-drop-1:focus {
    background-color: #3282f7;
}

.input-drop-2 {
    background-color: #68d9a4;
    font-size: 20px;
    height: 69px;
    width: 170px;
    transition: .2s all;
}

.input-drop-2::placeholder {
    color: white;
}

.input-drop-2:focus {
    background-color: #68d9a4;
}

.input-drop-3 {
    background-color: #ed6454;
    font-size: 20px;
    height: 69px;
    width: 170px;
    transition: .2s all;
}

.input-drop-3::placeholder {
    color: white;
}

.input-drop-3:focus {
    background-color: #ed6454;
}

i.fa-solid.fa-magnifying-glass {
    font-size: 30px;
    color: black;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    padding: 0;
    border-radius: 5px;
    margin-top: -7px !important;
    overflow: hidden;
    border: 0;
    overflow-y: scroll;
    opacity: 0;
    max-width: 542px;
    transition: .2s opacity;
}

.dropdown-menu.blue {
    background-color: #3282f7;
    max-height: 300px;
}

.dropdown-menu.green {
    background-color: #68d9a4;
    max-height: 300px;
}

.dropdown-menu.red {
    background-color: #ed6454;
    max-height: 300px;
}

.list__ingredients {
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    line-height: 21.6px;
}

.list__appareils {
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    line-height: 21.6px;
}

.fa-solid {
    color: white;
    font-size: 25px;
}


/* .container.green {
    background-color: #68d9a4;
    width: 395px;
    height: 180px;
} */


/* .container.red {
    background-color: #ed6454;
    width: 395px;
    height: 180px;
} */

.cardlist {
    padding: 0 48px 0 48px;
}

.card {
    width: 380px;
    height: 364px;
    border: none;
    overflow: hidden;
}

.card-img-top {
    height: 178px;
    background-color: #C7BEBE;
}

.card-body {
    height: 186px;
    background-color: #E7E7E7;
}

.card-title {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.bi bi-clock {
    width: 20px;
    height: 20px;
}

.card-subtitle {
    font-family: Lato;
    font-weight: 700;
}

ul {
    list-style: none;
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    padding: 0;
}

.card-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    height: 109px;
    width: 171px;
    left: 191px;
    top: 240px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.list__ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.list__appareils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.list__ustensiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}